body {
    font-family: Arial, sans-serif;
    background-color: #C1E1FF;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 156px;
    height: auto;
  }

.container {
    /* width: 400px;
    padding: 20px;
    margin: 100px auto;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1); */
    background-color: white;
    padding: 48px;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    width: 800px;
    margin: 100px auto;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}